<!-- <div id="mesasge" class="container-fluid p-0 m-0"></div> -->
<app-header></app-header>
<section class="header" [ngStyle]="{'height': height + 'px'}" >

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <mat-icon>chevron_right  </mat-icon>
    </button>   

    <div class="offcanvas offcanvas-start" style="overflow-y: auto !important;" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menú de acciones</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>                
                    <mat-icon>account_circle</mat-icon>
                    <p class="title">
                    Usuario
                </p>
                </mat-panel-title>
                <mat-panel-description>     
                   <span class="notes"> Modifica tu cuenta de usuario...</span>
                </mat-panel-description>
                 
              </mat-expansion-panel-header>
              <div (click)="closesession()"  class="dvi">
                <button class="btn2 btn-danger">
                 <mat-icon style="font-size: 15pt;">power_settings_new</mat-icon> Cerrar sesión
                </button>
              </div> 
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>                
                    <mat-icon>mail</mat-icon>
                    <p class="title">
                    Email
                </p>
                </mat-panel-title>
                <mat-panel-description>     
                   <span class="notes"> Envía las transacciones vía email...</span>
                </mat-panel-description>
                 
              </mat-expansion-panel-header>
              <div class="dv">
                <app-emailcontroller></app-emailcontroller>
            </div> 
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>                  
                    <mat-icon>fact_check</mat-icon>
                    <p class="title">
                         Transacciones por sincronizar                        
                    </p>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
                <app-offline-data>
                </app-offline-data>              
            </mat-expansion-panel>
        </mat-accordion>

    </div>

    <div class="head">
        
        <mat-tab-group mat-align-tabs="end">
            
            <mat-tab label="Control de empaque">
                <div class="dashApps container-fluid"
                     [ngStyle]="{'height': heightApps + 'px'}" >
                     
                    <app-controlempaque></app-controlempaque>

                </div>
            </mat-tab>
            <mat-tab label="Control de despacho">
              <div class="dashApps container-fluid"
                   [ngStyle]="{'height': heightApps + 'px'}" >
                   
                  <app-consfac></app-consfac>

              </div>
          </mat-tab>

            <mat-tab class="icon-qr-code"
                     label="Scanner QR" >

                    <app-qrscann></app-qrscann>

            </mat-tab>
            
        </mat-tab-group>

    </div>

</section>


<!-- <span class="note"> Aplicación Web - syscompsa 2021 - versión beta 0.0.0.1 | Desarrollo </span> -->