.td
    padding-top 10px



.mat-form-field-label
    color black !important

.menu
    display flex
    justify-content space-between
    align-items flex-end
    flex-wrap wrap


.repFinalTransacDesp
    background-color whitesmoke