<div class="menu mb-3" >
    <mat-form-field appearance="fill">
      <mat-label>Refer:</mat-label>
      <mat-select>
        <input type="text" class="form-control" placeholder="Buscar presione enter..." 
               title=" Presionar enter para buscar "  
               style="color: gray !important; " 
               (keyup)="getFactsUnit(_searchFacts, 50)"
               [(ngModel)]="_searchFacts" >

        <mat-option [value]="aft.comproba"
                    (click)="sliceNameFactF( aft.comproba, aft.nomCliente )"
                    [title]="aft.nomCliente"
                    *ngFor=" let aft of arrFactsType">

         {{aft.comproba}} / {{aft.nomCliente}}

        </mat-option>
      </mat-select>
      <mat-hint align="end">
          Escoje un tipo de factura por código.
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Tipo:</mat-label>
      <input matInput disabled placeholder="FA" [(ngModel)]="_typ">
    </mat-form-field>
   
  <mat-form-field class="example-full-width">
    <mat-label>N°. Factura:</mat-label>
    <!-- (keyup.enter)="getFacts(a,b,c,d)"  -->
    <input matInput disabled placeholder="0000123456"
           type="text"
           [(ngModel)]="_options">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    
    <mat-label>
          N°. Bodega:
    </mat-label>
    <input matInput placeholder="001" disabled
           [(ngModel)]="_bodega" >

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Cliente:</mat-label>
    <input matInput disabled placeholder="cliente..."
           [(ngModel)]="_name" >
  </mat-form-field>

  <!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>fecha:</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="_dateNow" >
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
</div>

<div class="tableinfo">
  <div class="btnSets">
    
    <!-- <button class="btn btn-info">
      Guardar
    </button>
    <button class="btn btn-info">
      Limpiar
    </button> -->

    <button (click)="controlSaveDataObserver()" style="border-radius: 0px !important; font-size: 8pt !important;" mat-raised-button color="accent">
      <!-- <mat-icon>send</mat-icon> -->
       <mat-icon>double_arrow</mat-icon> Guardar
    </button>
    <!-- <button (click)="" class="btn btn-info" >
      Obtener comprobante
    </button> -->

  </div>
    <!--<button class="btn btn-secondary" 
          (click)="deleteBD('register-scann', 'register-scanns')" >
              Borrar base de datos.
        </button>-->
    
    <table class="table table-striped table hover">
        <thead class="table-dark">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Escaneo</th>
              <th scope="col">Diferencia</th>
            </tr>
          </thead>
          <tbody id="tbody-arr">

            

            <!-- <tr *ngFor=" let factSArr of arrFacts ">
              <td class="td">{{factSArr.no_parte}}</td>
              <td class="td">{{factSArr.nomParte}}</td>
              <td class="td">{{factSArr.cantidad}}</td>
              <td style="width: 65px;" >

                <input style="color: gray !important;"
                       (change)="valdeteScann()"
                       (keyup)="valdeteScann()"
                       (keyup.enter)="valdeteScann()"
                       type="number"
                       class="form-control">               
              </td>
              <td class="td">

                <textarea type="number"
                          cols="7" rows="1"
                          class="form-control"
                          disabled
                          style="color: gray !important;">                
                </textarea>

              </td>
            </tr> -->
        </tbody>
      </table>

</div>

<div class="repFinalTransacDesp" *ngIf="_reportBool" >
  <div class="container-fluid" >

    <div class="title">
       <p> Reporte de despacho</p> <p class="number-note">{{_n_reporte}}</p> 
    </div>
    <div class=" head container-fluid ">
        <div class="he1">
           <strong> Cliente: </strong> {{_cliente}}<br> 
           <strong> Dirección:</strong>{{_direccion}}<br> 
           <strong> Bodega: </strong>{{_bodega}}<br>     
           <strong> Concepto: </strong> {{_concepto}}<br>   
        </div>
        <div class="he2">
           <strong> R.U.C.: </strong> {{_ruc}} <br>
           <strong> Teléfonos: </strong> {{_telefono}} <br>
           <strong> Emisión: </strong> {{_emision}} <br>
           <strong> F. Vencimiento: </strong> <br>{{_f_vencimiento}}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered
                      table-dark table-hover
                      align-middle
                      table-sm">
            <thead>
                <tr>
                    <th>Detalle</th>
                    <th>Cantidad</th>
                    <th>Despachado</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody class="table-warning table-bordered" id="tbody-arr">
                
            </tbody>
        </table>
    </div>
    <footer id="foot"><p class="foottext">{{_footer}}</p></footer>
</div>

</div>