<div class="menu mb-3" >
    <mat-form-field appearance="fill">
      <mat-label>Refer:</mat-label>
      <mat-select>
        <input type="text" class="form-control" placeholder="Buscar presione enter..." 
               title=" Presionar enter para buscar "  
               style="color: gray !important; " 
               (keyup)="getFactsUnit(_searchFacts, 50)"
               [(ngModel)]="_searchFacts" >

        <mat-option [value]="aft.comproba"
                    (click)="sliceNameFactF( aft.comproba, aft.nomCliente )"
                    [title]="aft.nomCliente"
                    *ngFor=" let aft of arrFactsType">

         {{aft.comproba}} / {{aft.nomCliente}}

        </mat-option>
      </mat-select>
      <mat-hint align="end">
          Escoje un tipo de factura por código.
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Tipo:</mat-label>
      <input matInput disabled placeholder="FA" [(ngModel)]="_typ">
    </mat-form-field>
   
  <mat-form-field class="example-full-width">
    <mat-label>N°. Factura:</mat-label>
    <!-- (keyup.enter)="getFacts(a,b,c,d)"  -->
    <input matInput disabled placeholder="0000123456"
           type="text"
           [(ngModel)]="_options">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    
    <mat-label>
          N°. Bodega:
    </mat-label>
    <input matInput placeholder="001" disabled
           [(ngModel)]="_bodega" >

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Cliente:</mat-label>
    <input matInput disabled placeholder="cliente..."
           [(ngModel)]="_name" >
  </mat-form-field>
</div>

<div class="tableinfo">
    
    <!-- <strong>Cargando datos: </strong> {{upload | number:'1.1-2' }} mb - 
    <strong> Total de carga:</strong> {{uploadTotal | number:'1.1-2'}} mb 
    <strong> %. </strong> {{porcentUploadTotal | number:'1.1-2'}} -->
    
    <!-- <div class="container-fluid progress">
      <div class="progress-bar " 
           role="progressbar"
           aria-valuemin="0" aria-valuemax="100">
           {{porcentUploadTotal | number:'1.1-2'}} %
      </div>
    </div> -->

  <div class="btnSets">

    <button (click)="saveDespachos()"
            style="border-radius: 0px !important; font-size: 8pt !important;"
            mat-raised-button color="accent">

       <mat-icon>double_arrow</mat-icon> Guardar

    </button>

  </div>
 
    <table class="table table-striped table hover">
        <thead class="table-dark">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Escaneo</th>
              <th scope="col">Diferencia</th>
            </tr>
          </thead>
          <tbody id="tbody-arr">
          </tbody>
      </table>

</div>
<!-- _reportBool -->
<div class="example-box" id="exbox" cdkDrag *ngIf="_reportBool">
  <div class="heads">
    <div class="btnsetts">
      <div class="btns" title="Enviar correo eléctónico manual" (click)="sendMail()">
        <mat-icon> 
            mail
        </mat-icon>
      </div>
      <div class="btns" title="minimizar" (click)="resize('exbox', 500, 'px', auto)">
        <mat-icon> 
            branding_watermark
        </mat-icon>
      </div>
      <div class="btns" title="maximizar" (click)="resize('exbox', 100, '%', 0)">
        <mat-icon>
            fit_screen            
        </mat-icon>
      </div>
      <div class="btns" title="cerrar" (click)="close()"  >
        <mat-icon>
          disabled_by_default
        </mat-icon>
      </div>
    </div>
  </div>
  <div class="container-fluid" >

    <div class="title">
       <p> Reporte de despacho</p> <p class="number-note">{{_n_reporte}}</p>
    </div>

    <div class="head container-fluid">

        <div class="he1">
           <strong> Cliente: </strong> {{_cliente}}<br> 
           <strong> Dirección:</strong>{{_direccion}}<br> 
           <strong> Bodega: </strong>{{_bodega}}<br>     
           <strong> Concepto: </strong> {{_concepto}}<br>   
        </div>
        
        <div class="he2">
           <strong> R.U.C.: </strong> {{_ruc}} <br>
           <strong> Teléfonos: </strong> {{_telefono}} <br>
           <strong> Emisión: </strong> {{_emision}} <br>
           <strong> F. Vencimiento: </strong> <br>{{_f_vencimiento}}
        </div>

    </div>

    <div class="table-responsive" id="tabRespons">
        <table class="table table-bordered
                  table-dark table-hover
                  align-middle
                  table-sm">
          <thead>
              <tr>
                  <th>Detalle</th>
                  <th>Cantidad</th>
                  <th>Despachado</th>
                  <th>Total</th>
              </tr>
          </thead>
          <tbody class="table-warning table-bordered" id="domtab"></tbody>
        </table>
    </div>

    <footer id="foot">
      <p class="foottext">{{_footer}} {{_dateNow | date: 'short' }} </p>
    </footer>

  </div>

</div>