
<div class="menu mb-3" >
    <mat-form-field appearance="fill">
      <mat-label>Refer:</mat-label>
      <mat-select>
        <input type="text" class="form-control" placeholder="Buscar presione enter..." 
               title=" Presionar enter para buscar "  
               style="color: gray !important; " 
               (keyup)="getFactsUnit(_searchFacts, 50)"
               [(ngModel)]="_searchFacts" >

        <mat-option [value]="aft.comproba"
                    (click)="sliceNameFactF(aft.comproba, aft.nomCliente)"
                    [title]="aft.nomCliente"
                    *ngFor=" let aft of arrFactsType">

         {{aft.comproba}} / {{aft.nomCliente}}

        </mat-option>
      </mat-select>
      <mat-hint align="end">
          Escoje un tipo de factura por código.
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Tipo:</mat-label>
      <input matInput disabled placeholder="FA" [(ngModel)]="_typ">
    </mat-form-field>
   
  <mat-form-field class="example-full-width">
    <mat-label>N°. Factura:</mat-label>
    <!-- (keyup.enter)="getFacts(a,b,c,d)"  -->
    <input matInput disabled placeholder="0000123456"
           type="text"
           [(ngModel)]="_options">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    
    <mat-label>
          N°. Bodega:
    </mat-label>
    <input matInput placeholder="001" disabled
           [(ngModel)]="_bodega" >

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Cliente:</mat-label>
    <input matInput disabled placeholder="cliente..."
           [(ngModel)]="_name" >
  </mat-form-field>

  <!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>fecha:</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="_dateNow" >
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
</div>

<div class="tableinfo">
  <div class="btnSets">
    
    <!-- <button class="btn btn-info">
      Guardar
    </button>
    <button class="btn btn-info">
      Limpiar
    </button> -->

    <button (click)="controlSaveDataObserver()" style="border-radius: 0px !important; font-size: 8pt !important;" mat-raised-button color="accent">
      <!-- <mat-icon>send</mat-icon> -->
       <mat-icon>double_arrow</mat-icon> Guardar
    </button>
    <!-- <button (click)="" class="btn btn-info" >
      Obtener comprobante
    </button> -->

  </div>
    <!--<button class="btn btn-secondary" 
          (click)="deleteBD('register-scann', 'register-scanns')" >
              Borrar base de datos.
        </button>-->
    
    <table class="table table-striped table hover">
        <thead class="table-dark">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Escaneo</th>
              <th scope="col">Diferencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td">{{codigo}}</td>
              <td class="td">{{nombre}}</td>
              <td class="td">{{cantidad}}</td>
              <td style="width: 65px;" >
                <input id="scann"
                       style="color: gray !important;"
                       [value]="scaningQR"
                       [(ngModel)]="scaningQR"
                       (change)="valdeteScann(scaningQR)"
                       (keyup)="valdeteScann(scaningQR)"
                       (keyup.enter)="valdeteScann(scaningQR)" type="number" class="form-control"  >               
              </td>
              <td class="td">{{cantidad - scaningQR }}</td>
            </tr>
        </tbody>
      </table>

</div>