<div class="container" >

    <div class="title">
        Reporte de despacho
    </div>
    <div class=" head container p-3">
        <div class="he1">
            Cliente:<br> {{_cliente}}
            Dirección:<br>{{_direccion}}
            Bodega:<br>{{_bodega}}
            Concepto:<br>{{_concepto}}
        </div>
        <div class="he2">
            R.U.C.:<br>{{_ruc}}
            Teléfonos:<br>{{_telefono}}
            Emisión:<br>{{_emision}}
            F. Vencimiento:<br>{{_f_vencimiento}}
        </div>
    </div>

</div>

