mat-form-field
    width 100% !important


textarea
    color whitesmoke


.note
    color gray
    font-size 10pt


.fechaAct
    display flex
    justify-content stretch
    align-items center
    color whitesmoke


.example-chip-list
  width 100%
