/* You can add global styles to this file, and also import other style files */

*
    font-family: 'Poppins', sans-serif;
    
.note
    font-family: 'Inconsolata', monospace;
    font-weight 500

label
    color white !important

input
    color white  !important

.tableinfo
    background-color whitesmoke
    height 400px
    box-shadow 0px 0px 10px rgba(0,0,0,0.7)
    overflow-y auto



